.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    opacity: 0; /* will transition on mount with .navigationOpaque */
    transition: opacity 0.5s;
}
.navigationOpaque {
    opacity: 1;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.titlePre {
    color: var(--dark-primary);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 6px;
    margin-bottom: 4px;
}
.titlePost {
    color: var(--light-secondary);
    font-size: 20px;
    letter-spacing: 6px;
}

.actions {
    display: flex;
    align-items: center;
}
.action {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-colour);
    padding: 0 15px;
}
.actionKick {
    margin-right: 6px;
}
.actionSplitLeft {
    padding-left: 35px;
}
.actionSplitRight {
    padding-right: 35px;
}
.menu {
    cursor: pointer;
    padding-right: 40px;
}
.search {
    cursor: pointer;
    padding: 12px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 50%;
}
.menuSearchContainer {
    display: flex;
}
.menuSearchVerticalBar {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    width: 223px;
    height: 0px; /* will transition on mount with .menuSearchContainerBarFull */
    background-color: var(--primary);
    transition: height 0.5s;
    transition-delay: 0.4s;
}
.menuSearchVerticalBarFull {
    height: 786px;
}

/* util for homepage variant */
.white {
    color: white;
}
.white .search {
    border: 2px solid white;
}