.main {
    display: flex;
}

.textHidden {
    opacity: 0;
    transition: opacity 0.5s;
}
.textShow {
    opacity: 1;
}
.textDelayMid {
    transition-delay: 0.5s;
}
.textDelayLong {
    transition-delay: 1s;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin: 55px 0 0 100px;
    padding-right: 70px;
    width: 600px;
    max-height: 649px;
    overflow: hidden;
}
.highlight {
    color: var(--primary);
}
.description {
    margin-top: 33px;
}

.pictorialContainer {
    display: flex;
    width: 50%;
}
.leftFlex {
    display: flex;
    flex-direction: column;
}
.rightFlex {
    display: flex;
    margin-top: 16%;
}