.pictorialCard {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 15px;
    box-shadow: 0px 0px 15px 0px rgb(205 205 205);

    transition: opacity 0.5s;
    opacity: 0;
}
.pictorialCardShow {
    opacity: 1;
}

.textualContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 14px 10px 20px 20px;
}
.descriptionContainer {
    display: flex;
    flex-direction: column;
}
.heading {
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 20px;
}
.subheading {
    color: var(--font);
    font-weight: bold;
    margin-bottom: 5px;
}
.text {
    color: var(--font);
    font-size: 13px;
}

.audioContainer {
    display: flex;
    margin-top: 15px;
}
.volume {
    display: flex;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
    margin: 0;
}